body{
margin:0;
background:black;
color:white;
font-family:Arial;
text-align:center;
overflow:hidden;
}

.screen{
display:none;
height:100vh;
justify-content:center;
align-items:center;
flex-direction:column;
}

.active{
display:flex;
}

.click{
font-size:70px;
cursor:pointer;
}

.bigText{
font-size:60px;
margin:20px;
}

.smallText{
font-size:20px;
opacity:0.7;
}

.bigTulip{
font-size:160px;
}

.sideTulips{
position:relative;
width:100%;
height:150px;
}

.leftTulip{
position:absolute;
left:10%;
font-size:120px;
}

.rightTulip{
position:absolute;
right:10%;
font-size:120px;
}

.falling{
position:absolute;
top:-50px;
font-size:30px;
animation:fall 4s linear infinite;
}

@keyframes fall{

0%{
transform:translateY(0)
}

100%{
transform:translateY(110vh)
}

}